[submodule "public"]
	path = public
	url = https://github.com/julaxe/JulianEscobar.github.io.git
	branch = main
[submodule "build"]
	path = build
	url = https://github.com/julaxe/julaxe.github.io.git
	branch = main
